

quml-player {
  border: 2px solid #e5e5e5;
  border-style: groove;
  display: block;
  position: relative;
}

.question-editor {
  border: 2px solid #e5e5e5;
  border-style: groove;
  display: block;
  position: relative;
}

.lanscape-mode-right {
  position: absolute !important;
}

.list-group li {
  background-color: #f3f7fa;
}